.pageButton {
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #111;
}

.pageButtonActive {
    composes: pageButton;
    background-color: #ff4500;
    font-weight: bold;
}
/*@media screen and (max-width: 400px) {*/
/*    .pageButton {*/
/*        padding: 3px 6px;*/
/*        font-size: 8px;*/
/*    }*/
/*}*/