.rating{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 25px;
    border-radius: 5px;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
@media screen and (max-width: 1100px) {
.rating{
    width: 20px;
    height: 20px;
    font-size: 12px;
}
}