.wrapper{
    display: flex;
    gap: 70px;
    margin-left: 55px;
    margin-top: 25px;
}
.cardImg{
    width: 300px;
    height: 470px;
    border-radius: 15px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 45px;
}
.title{
    font-size: 42px;
}
.desc{
    width: 85%;
    font-size: 20px;
}
.downPart{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}
.rating{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}