.movieInfoCard{
    width: 200px;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
.cardImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}