.movieInfoCard{
    width: 200px;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
.cardImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
@media screen and (max-width: 1100px) {
    .movieInfoCard{
        width: 150px;
        height: 250px;
    }
}
@media screen and (max-width: 500px) {
    .movieInfoCard{
        width: 100px;
        height: 200px;
    }
}