.rightArrow, .leftArrow{
    width: 50px;
    height: 90px;
    background-color: #7D7C7C;
    opacity: 80%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    z-index: 10;
    transition: 1s;
}
.sliderArrows svg{
    width: 32px;
    height: 37px;
}
.rightArrow{
    right: 0;
}
.leftArrow{
    left: 0;
}
.rightArrow:hover,
.leftArrow:hover{
    transform: translateY(-50%) scale(1.1);
}
@media screen and (max-width: 1000px){
    .rightArrow, .leftArrow{
        width: 50px;
        height: 90px;
    }
    .sliderArrows svg{
        width: 32px;
        height: 37px;
    }
}
@media screen and (max-width: 700px){
    .rightArrow,
    .leftArrow{
        width: 40px;
        height: 70px;
    }
    .sliderArrows svg{
        width: 22px;
        height: 27px;
    }
}