.rightArrow, .leftArrow{
    width: 70px;
    height: 110px;
    background-color: #7D7C7C;
    opacity: 70%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
.rightArrow{
    right: 0;
}
.leftArrow{
    left: 0;
}