.moviesListContainer{
    font-family: Montserrat, sans-serif;
    color: #FFFFFF;
    margin-left: 25px;
    position: relative;
}
.title{
    margin-top: 45px;
}
.slider{
    display: flex;
    gap: 12px;
    margin-top: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 10px;
}