.wrapper {
    width: 100%;
}
.buttonActive{
    position: absolute;
    left: 13%;
}
.inputWrapper {
    position: absolute;
    top: 28%;
    left: 15%;
    width: 70%;
    height: 30px;
    z-index: 150;

    display: flex;
    align-items: center;
    background-color: #2c2c2c;
    border: 1px solid #444;
    border-radius: 6px;
    padding: 0 0 0 15px;
}

.input {
    flex: 1;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 14px;
}

.closeBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}
