.wrapper {
    width: 100%;
}
.buttonActive{
    position: absolute;
    left: 13%;
}
.inputWrapper {
    position: absolute;
    top: 28%;
    left: 15%;
    width: 70%;
    height: 30px;
    z-index: 150;

    display: flex;
    align-items: center;
    background-color: #2c2c2c;
    border: 1px solid #444;
    border-radius: 6px;
    padding: 0 0 0 15px;
}

.input {
    flex: 1;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 14px;
}

.closeBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}
.searchDropdown{
    position: absolute;
    width: 100%;
    top: 40px;
    right: 2px;
}
.searchItem{
    display: flex;
    gap: 10px;
    cursor: pointer;
    background-color: #101010;
    padding: 8px 10px;
    border-bottom: 1px solid #333;
}
.searchItem:hover {
    background: #444;
}
.rating{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 30px;
    height: 22px;
}