.header{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    color: #FFFFFF;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #4e4e4e;
    font-family: Montserrat, serif;
    align-items: center;
    /*position: fixed;*/
    /*z-index: 1;*/
}
.header h1{
    margin-left: 15px;
}
.header nav{
    display: flex;
    gap: 30px;
}
.homeBtn{
    cursor: pointer;
}
@media screen and (max-width: 396px){
    .header nav{
        display: flex;
        gap: 5px;
    }
}