.moviesListCardContainer{
    font-family: Montserrat, sans-serif;
    color: #FFFFFF;
    margin-left: 25px;

}
.moviesListCardContainer h1{
    margin-top: 45px;
}
.slider{
    display: flex;
    gap: 12px;
    margin-top: 15px;
}
.card{
    width: 400px;
    height: 260px;
    background-color: #D9D9D9;
    border-radius: 15px;
}
.Movies{
    margin-top: 50px;
    padding-bottom: 25px;
}