.btn{
    font-family: Montserrat, sans-serif;
    color: #efeded;
    font-size: 16px;
}
.topWrapper {
    margin-bottom: 200px; /* pushes genres section down */
}

.allGenres {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

