.btn{
    font-family: Montserrat, sans-serif;
    color: #efeded;
    font-size: 16px;
}

.allGenres {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    font-size: 18px;
    flex-wrap: wrap;
    gap: 25px;
}

