.btn{
    font-family: Montserrat, sans-serif;
    color: #efeded;
    font-size: 16px;
}
.topWrapper{
    margin-bottom: 200px;
}
.genresSection{
    margin-top: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.allGenres{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
