.wrapper{
    margin: 45px 25px;
}
.genresContainer {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, auto));
    font-size: 18px;
    font-weight: 500;
    row-gap: 30px;
    column-gap: 40px;
}
.genresList{
    position: relative;
    border-radius: 6px;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    width: max-content;
}
.genresList::after {
    content: "";
    position: absolute; left: 0;
    bottom: -2px; /* distance under the word */
    width: 0%; height: 2px;
    background: #fff; /* or your accent color */
    transition: width 0.25s ease;
} /* expand underline on hover */

.genresList:hover::after {
    width: 100%; }
@media screen and (max-width: 380px) {
    .genresContainer{
        grid-template-columns: repeat(auto-fill, minmax(100px, auto));
    }
    .title{
        font-size: 20px;
    }
    .genresList{
        font-size: 16px;
    }
}