.card{
    width: 250px;
    height: 350px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: rgba(255,255,255,0.3) 0 5vw 6vw -8vw,
    rgba(255,255,255,0) 0 4.5vw 5vw -6vw,
    rgba(50, 50, 80, 0.5) 0 4vw 8vw -2vw,
    rgba(0, 0, 0, 0.8) 0 4vw 5vw -3vw;
    transition: box-shadow 1s var(--cover-ease);
}
.card > * {
    z-index: 2;
}

.cardImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    position: absolute;
    inset: 0;
    transition: all .8s cubic-bezier(0.66, 0.08, 0.19, 0.97);
}
.card:before,
.card:after {
    content: "";
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    position: absolute;
    transform-origin: left;
    transform: scaleX(0);
    transition: all var(--cover-timing) var(--cover-ease);
    z-index: 1;
}
.card:after {
    top:50%;
    transition-delay: var(--cover-stagger);
}
.card:hover,
.card:focus{
    box-shadow: white 0 5vw 6vw -9vw,
    var(--highlight) 0 5.5vw 5vw -7.5vw,
    rgba(50, 50, 80, 0.5) 0px 4vw 8vw -2vw,
    rgba(0, 0, 0, 0.8) 0px 4vw 5vw -3vw;
}
.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
    transform: scaleX(1);
}
.card:hover .cardImg,
.card:focus .cardImg {
    transform: scale(1.1);
}
.text{
    position: absolute;
    inset: 10px;
    top: auto;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity .4s ease, transform .4s ease;
}
.card:hover .text,
.card:focus .text {
    opacity: 1;
    transform: translateY(0);
}
.title {
    font-size: clamp(10px, 4vw, 25px);
    font-weight: 800;
    margin-bottom: 0.2em;
}
.desc {
    font-size: clamp(5px, 1.25vw, 14px);
    line-height: 1.4;
    text-align: start;
    margin-top: 0.2em;
    margin-bottom: 0;
}
.downPart{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}
.rating{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 25px;
    border-radius: 5px;
}
.genres{
    font-size: 12px;
}


@media screen and (max-width: 1100px) {
    .card{
        width: 150px;
        height: 250px;
    }
}
@media screen and (max-width: 500px) {
    .card{
        width: 100px;
        height: 200px;
    }
}