.gridContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
    row-gap: 35px;
    column-gap: 5px;
    margin: 30px auto;
    max-width: 1160px;
}